{% extends "main/header.html" %}

{% block content %}
<h1>Classes</h1>
<table>
    {% if not courses %}
        <p>No classes to show.</p>
    {% endif %}
    {% for course in courses %}
    <tr>
        <td>{{course.name}}</td>
        <td class="rightmost_td"><a href="{% url 'remove_class' course.id %}">Remove</a></td>
    </tr>
    {% endfor %}
</table>
<p></p>
<form action="{% url 'classes' %}" method="post">
    {% csrf_token %}
    <input type="text" name="name" placeholder="Class name">
    <input type="text" name="short" placeholder="Abbreviation">
    <input type="submit">
</form>

{% endblock %}